/* custom styling */

:root {
  --main-bg-color: #222d32;
  --main-font-color: #fff;
}

.box.box-primary {
    border-top-color:red;
}
body {
    background-color: var(--main-bg-color);
    color: var(--main-bg-color) !important;
}
.content-wrapper {
    background-color: var(--main-bg-color);
}
.wrapper {
    background-color: var(--main-bg-color) !important;
}
.box-header {
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
}
.box-body {
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
}

.nav-tabs-custom {
    background-color: var(--main-bg-color);
}
.nav-tabs-custom>.tab-content {
    background-color: var(--main-bg-color);
}
.nav-tabs-custom>.nav-tabs>li>a {
	color: var(--main-font-color);
}
.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color:red;
}
.nav-tabs-custom>.nav-tabs>li.active>a {
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
}
.nav-tabs-custom>.nav-tabs>li.active:hover>a {
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
}
.nav-tabs>li.active>a {
    background-color: var(--main-bg-color) !important;
    color: var(--main-font-color) !important;
}
.nav-tabs>li.active>a:hover {
    background-color: var(--main-bg-color);
    color: var(--main-font-color) !important;
}
.nav-tab>li.active>a:focus {
    background-color: var(--main-bg-color) !important;
    color: var(--main-font-color) !important;
}
.nav>li>a:hover {
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
}
.nav-tabs-custom>.nav-tabs>li:first-of-type.active>a {
    border-top-color:red;
}
.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: var(--main-bg-color);
}

/*canvasXpress */
.CanvasXpressToolbar {
    background-color: var(--main-bg-color) !important;
}
.btn-box-tool {
	color: var(--main-font-color) !important;
}
.skin-red .sidebar a {
	color: var(--main-font-color);
}
.periscope-input-label-with-tt {
    color: var(--main-font-color);
}
.control-label {
    color: var(--main-font-color);
}